<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title%> - KAWALPEMILU X KOMISI PEMILIHAN UMUM X KAWALPILPRES2019
  </title>
  <meta property="description" content="#Bandingkan , antara kawal pemilu x komisi pemilihan umum x kawalpilpres2019, Mari gotong royong, Pantau pemilu - Jaga Suara 2019 " />

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="  <%=title%> - KAWALPEMILU X KOMISI PEMILIHAN UMUM X KAWALPILPRES2019" />
  <meta property="og:site_name" content="PEMILU AGREGATOR" />
  <meta property="og:image" content="http://pemilu.masmadmad.com/images/data.jpg" />
  <meta property="og:url" content="https://pemilu.masmadmad.com" />
  <meta property="og:description" content="#bandingkan , antara kawal pemilu ,kawalpilpres2019 dan komisi pemilihan umum, Mari gotong royong, Pantau pemilu - Jaga Suara 2019" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Global site tag (gtag.js) - Google Analytics -->

</head>
<style media="screen">
  .progress {
    background-color: #ccc !important;
  }

  table {
    font-size: small;
    vertical-align: middle;
  }
</style>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">mas-madmad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Beranda <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpemilu.org">Kawal Pemilu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpilpres2019.id">Kawal Pilpres 2019</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kpu.go.id">Komisi Pemilihan Umum</a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid" style="margin-top:40px">
    <h1>Hasil Tabulasi Realtime Jaga suara 2019 (Kawal Pemilu,Kawal Pilpres KPU)</h1>
    <p>Situs ini mengagregasi Suara dari 3 sumber yaitu kawalpemilu.org kawalpilpres2019 dan situs resmi KPU
    </p>
    <div class="alert alert-danger">
      <p>Semua table informasi di bawah ini merupakan kurasi dari situs kawalpemilu,kawalpilpres2019 dan Official Resmi Dari KPU, <strong>dan untuk Data pada halaman ini masih belum final dan akan terus diperbarui secara berkala!</strong>
      </p>
      <h5>Latest Update: <%=data.KPU.ts%></h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        <br>
        <div class="col-md-4">
          <div id="KPJS"></div>
          </br>
        </div>
        <div class="col-md-4">
          <div id="KPP"></div>
          </br>
        </div>
        <div class="col-md-4">
          <div id="KPU"></div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-sm table-hover" id="app">
    <tr style="background:#000;color:#fff;text-align:center;vertical-align:top">
      <th class="tg-wy7m" colspan="2">Nama Wilayah</th>
      <th class="tg-s9og" colspan="4" style="background:#37474f">Kawal Pemilu </th>
      <th class="tg-s9og" colspan="4" style="background:#3f51b5">Kawal Pilpres</th>
      <th class="tg-1sci" colspan="3">Komisi Pemilihan Umum</th>
    </tr>

    <tr style="background-color:#333333;color:#ffffff;text-align:center;vertical-align:top">
      <td class="tg-7f7m" colspan="2">Keterangan</td>
      <td class="tg-7f7m" style="background:#37474f">Jokowi-Amin </td>
      <td class="tg-7f7m" style="background:#37474f">Prabowo-Sandi</td>
      <td class="tg-7f7m" style="background:#37474f">
        <div style="display:block;">Total</div>
        <div style="display:block;font-size:10px">(Suara Sah)</div>
      </td>
      <td class="tg-khjd" style="background:#37474f">Cakupan TPS</td>
      <td class="tg-7f7m" style="background:#3f51b5">Jokowi-Amin </td>
      <td class="tg-7f7m" style="background:#3f51b5">Prabowo-Sandi</td>
      <td class="tg-7f7m" style="background:#3f51b5">
        <div style="display:block;">Total</div>
        <div style="display:block;font-size:10px">(Suara Sah)</div>
      </td>
      <td class="tg-khjd" style="background:#3f51b5">Cakupan TPS</td>
      <td class="tg-7f7m">Jokowi-Amin
        <td class="tg-7f7m">Prabowo-Sandi</td>
        <td class="tg-7f7m">
          <div style="display:block;">Total</div>
          <div style="display:block;font-size:10px">(Suara Sah)</div>
        </td>
    </tr>

    <tr style="text-align:center;vertical-align:top;background:#c0c0c0">
      <td class="tg-khjd text-right" colspan="2">Total</td>

      <td class="tg-khjd text-right">

        <%=numeral(kpjs1).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpjs1/(kpjs1+kpjs2)*100).toPrecision(4)%>%)</strong>
      </td>
      <td class="tg-khjd text-right">
        <%=numeral(kpjs2).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpjs2/(kpjs1+kpjs2)*100).toPrecision(4)%>%)</strong>
      </td>

      <td class="tg-khjd text-right">
        <%=numeral(kpjs1+kpjs2).format(0,0)%>
      </td>
      <td class="tg-khjd text-right">
        <strong><%=numeral(total_cakupan).format(0.0)%> </strong>dari
        <strong><%=numeral(data.KPU.progress.total).format(0.0)%></strong>
        <br>
        <strong><%= parseFloat((total_cakupan/data.KPU.progress.total)*100).toPrecision(4)%> % dari data KPU</strong>
      </td>
      <!-- ->kawal pilpres

      <!--->
      <td class="tg-khjd text-right">

        <%=numeral(kpp1).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpp1/(kpp1+kpp2)*100).toPrecision(4)%>%)</strong>
      </td>
      <td class="tg-khjd text-right">
        <%=numeral(kpp2).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpp2/(kpp2+kpp1)*100).toPrecision(4)%>%)</strong>
      </td>

      <td class="tg-khjd text-right">
        <%=numeral(kpp1+kpp2).format(0,0)%>
      </td>
      <td class="tg-khjd text-right">
        <strong><%=numeral(kppcakupan).format(0.0)%> </strong>dari
        <strong><%=numeral(data.KPU.progress.total).format(0.0)%></strong>
        <br>
        <strong><%= parseFloat((kppcakupan/data.KPU.progress.total)*100).toPrecision(4)%> % dari data KPU</strong>
      </td>
      <!-- ->kawal pilpres

      <!--->
      <td class="tg-khjd text-right">
        <%=numeral(data.KPU.chart[21]).format(0,0)%>
          <br>
          <strong>(
          <%=parseFloat(data.KPU.chart[21]/(data.KPU.chart[21]+data.KPU.chart[22])*100).toPrecision(4)%> %)</strong>
      </td>
      <td class="tg-khjd text-right">
        <%=numeral(data.KPU.chart[22]).format(0,0)%>
          <br>
          <strong>(
          <%=parseFloat(data.KPU.chart[22]/(data.KPU.chart[21]+data.KPU.chart[22])*100).toPrecision(4)%> %)</strong>
      </td>
      <td class="tg-khjd text-right">
        <%=numeral(parseInt(data.KPU.chart[21]+data.KPU.chart[22])).format(0,0)%>
          <br>
          <strong><%= parseFloat((data.KPU.progress.proses/parseInt(data.KPU.progress.total)*100)).toPrecision(4)%> % dari Total TPS</strong>
      </td>
    </tr>
    <%var nextPage = next%>
      <%data.KP.children.forEach(function(KP){%>
        <tr>

          <%var suaraKPJS1=parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas1'])%>
            <%var suaraKPJS2=parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas2'])%>
              <%var totalSuaraKPJ=parseInt(suaraKPJS1+suaraKPJS2)%>
                <%var suaraKPU1=parseInt(data.KPU.table[parseInt(KP[0])]['21'])%>
                  <%var suaraKPU2=parseInt(data.KPU.table[parseInt(KP[0])]['22'])%>
                    <%var totalSuaraKPU=parseInt(suaraKPU1+suaraKPU2)%>
                      <td class="tg-0lax text-left" colspan="2">
                        <%var child = data.KP.parentIds;%>
                          <strong><a href="?child=[<%=next?next+','+KP[0]:KP[0]%>]"><%=KP[1]%></a><strong>
                </td>
                <%if(suaraKPJS1>suaraKPJS2){%>
                  <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                    <%}else{%>
                      <td class="tg-0lax text-right" style="background:#efefef">
                        <%}%>
                        <div style="display:block">
                          <strong><%=numeral(suaraKPJS1).format(0,0)%></strong></div>
                          <div style="display:block; font-size:10px;">(
                            <%= parseFloat((suaraKPJS1/(suaraKPJS1+suaraKPJS2))*100).toPrecision(4)%> %)</div>
                      </td>
                      <%if(suaraKPJS1<suaraKPJS2){%>
                        <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                          <%}else{%>
                            <td class="tg-0lax text-right" style="background:#efefef">
                              <%}%>
                                <div style="display:block">
                                  <%=numeral(suaraKPJS2).format(0,0)%>
                                </div>
                                <div style="display:block; font-size:10px;">(
                                  <%= parseFloat((suaraKPJS2/(suaraKPJS1+suaraKPJS2))*100).toPrecision(4)%> %)</div>
                            </td>
                            <td class="tg-0lax text-right" style="background:#efefef">
                              <strong><%=numeral(parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas1'])+parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas2'])).format(0,0)%></strong>

                            </td>
                            <td class="tg-0lax text-right" style="background:#efefef">
                              <strong><%=numeral(data.KP.data[parseInt(KP[0])]['sum']['cakupan']).format(0,0) %></strong> dari <strong><%=numeral(KP[2]).format(0.0)%></strong>
                              <div class="progress">
                                <%var progress =parseFloat((parseFloat(data.KP.data[parseInt(KP[0])]['sum']['cakupan'])/parseInt(KP[2]))*100).toPrecision(4)%>
                                  <%var classing = progress>50?'bg-success':'bg-warning'%>
                                    <div class="progress-bar <%=classing%>" role="progressbar" style="width: <%=progress%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="<%=parseInt(KP[2])%>"></div>
                              </div><small><strong><%= progress %>% </strong> estimasi tps terproses</small>

                            </td>
                            <%var suara_onno_1 = data.KP_ONNO[parseInt(KP[0])][ 'jokowi_amin']; var suara_onno_2 = data.KP_ONNO[parseInt(KP[0])]['prabowo_sandi'] %>
                              <%if(suara_onno_1>suara_onno_2){%>
                                <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                                  <%}else{%>
                                    <td class="tg-0lax text-right">
                                      <%}%>
                                        <div style="display:block">
                                          <strong><%= numeral(suara_onno_1).format(0.0)%> <strong></div>
                                   <div style="display:block; font-size:10px;">(<%= parseFloat((suara_onno_1/(suara_onno_1+suara_onno_2))*100).toPrecision(4)%> %)</div>
                    </td>

                    <%if(suara_onno_1<suara_onno_2){%>
                    <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                      <%}else{%>
                          <td class="tg-0lax text-right">
                        <%}%>
                        <strong><%= numeral(suara_onno_2).format(0.0)%> <strong></div>
                           <div style="display:block; font-size:10px;">(<%= parseFloat((suara_onno_2/(suara_onno_1+suara_onno_2))*100).toPrecision(4)%> %)</div>
                    </td>


                    <td class="tg-0lax text-right">
                      <strong><%= numeral(data.KP_ONNO[parseInt(KP[0])]['prabowo_sandi']+data.KP_ONNO[parseInt(KP[0])]['jokowi_amin']).format(0.0)%> <strong>
                    </td>
                    <td class="tg-0lax text-right">
                        <strong><%= numeral(data.KP_ONNO[parseInt(KP[0])]['tps_masuk']).format(0.0)%> <strong> dari <strong><%=numeral(KP[2]).format(0.0)%></strong>
                                          <div class="progress">
                                            <%var progressOnno =parseFloat((parseFloat(data.KP_ONNO[parseInt(KP[0])]['tps_masuk'])/parseInt(KP[2]))*100).toPrecision(4)%>
                                              <%var classing = progressOnno>50?'bg-success':'bg-warning'%>
                                                <div class="progress-bar <%=classing%>" role="progressbar" style="width: <%=progressOnno%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="<%=parseInt(KP[2])%>"></div>
                                          </div><small><strong><%= progressOnno %>% </strong> estimasi tps terproses</small>
                                    </td>
                                    <%if(suaraKPU1>suaraKPU2){%>
                                      <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                                        <%}else{%>
                                          <td class="tg-0lax text-right " style="background:#efefef">
                                            <%}%>
                                              <strong><%=numeral(data.KPU.table[parseInt(KP[0])]['21']).format(0,0)%></strong>
                                              <div style="display:block; font-size:10px;">(
                                                <%= parseFloat((data.KPU.table[parseInt(KP[0])]['21']/(data.KPU.table[parseInt(KP[0])]['21']+data.KPU.table[parseInt(KP[0])]['22']))*100).toPrecision(4)%> %)</div>
                                          </td>

                                          <%if(suaraKPU1<suaraKPU2){%>
                                            <td class="tg-0lax text-right" style="background:#d4edda; font-weight:bold">
                                              <%}else{%>
                                                <td class="tg-0lax text-right" style="background:#efefef">
                                                  <%}%>
                                                    <strong><%=numeral(data.KPU.table[parseInt(KP[0])]['22']).format(0,0)%></strong>
                                                    <div style="display:block; font-size:10px;">(
                                                      <%= parseFloat((data.KPU.table[parseInt(KP[0])]['22']/(data.KPU.table[parseInt(KP[0])]['21']+data.KPU.table[parseInt(KP[0])]['22']))*100).toPrecision(4)%> %)</div>
                                                </td>
                                                <td class="tg-0lax text-right" style="background:#efefef">
                                                  <%=numeral(parseInt(data.KPU.table[parseInt(KP[0])]['21'])+parseInt(data.KPU.table[parseInt(KP[0])]['22'])).format(0,0)%>
                                                </td>
        </tr>

        <%})%>
  </table>
  <h1>Catatan</h1>
  <ul>
    <li>Data diatas bersifat sementara selama masa perhitungan suara pemilu</li>
    <li>
      <p>
        <span class="th">#TPS terproses</span> berisi
        <strong>ESTIMASI</strong> jumlah TPS yang sudah memiliki foto dan sudah diproses datanya. Kami hanya dapat menampilkan angka estimasi karena satu TPS yang sama memiliki beberapa foto dimana sebagian sudah diproses dan sebagian lain belum diproses.
      </p>
      <p>
        Kawal Pemilu menerima lebih dari satu foto per TPS selain untuk mendapatkan bukti foto pendukung, juga karena Kawal Pemilu menerima dan memproses foto terkait pemilu DPR, DPD, DPRD Provinsi, dan DPRD Kabupaten/Kota.
      </p>
    </li>
  </ul>
  </div>
</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138792337-1"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/javascripts/apps.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-138792337-1');
</script>

</html>
