<!DOCTYPE html>
<html>

<head>
  <title>
    KAWALPEMILU X KOMISI PEMILIHAN UMUM
  </title>
  <meta property="description" content="#Bandingkan , antara kawal pemilu x komisi pemilihan umum, Mari gotong royong, Pantau pemilu - Jaga Suara 2019 " />

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Pemilu" />
  <meta property="og:url" content="https://pemilu.masmadmad.com" />
  <meta property="og:description" content="#Bandingkan , antara kawal pemilu x komisi pemilihan umum, Mari gotong royong, Pantau pemilu - Jaga Suara 2019" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Global site tag (gtag.js) - Google Analytics -->

</head>
<style media="screen">
  table {
    font-size: small;
    vertical-align: middle;
  }
</style>

<body>
  <h1>Hasil Tabulasi Realtime Jaga suara 2019 (Kawal Pemilu dan KPU)</h1>
  <p>Situs ini mengagregasi Suara dari 2 sumber yaitu kawalpemilu dan situs resmi KPU
  </p>
  <div class="alert alert-success" >
    <p><a href="https://kawalpemilu.org/disclaimer/" target="_blank" style="color:black; text-decoration: none">
          Semua informasi di Kolom Kawal Pemilu dipublikasikan dengan itikad
          baik dan hanya untuk tujuan informasi bagi publik dan
          <strong>bukan merupakan hasil resmi</strong> dari penyelenggara Pemilu.
          Pengumpulan dan penginputan data pada situs ini dilakukan dengan cara
          <em>crowd sourcing</em> atau gotong royong.</a> Untuk Hasil KPU ada kolom di sebelah Kanan
    </p>
  </div>
  <div class="alert alert-danger">
    <p>Semua table informasi di bawah ini merupakan kurasi dari situs kawalpemilu dan Official Resmi Dari KPU, <strong>dan untuk Data pada halaman ini masih belum final dan akan terus diperbarui secara berkala!</strong>
    </p>
    <h5>Latest Update: <%=data.KPU.ts%></h5>
  </div>
  <div class="container-fluid">
    <div class="row">
      <br>
      <div class="col-md-6"><canvas id="KPJS"></canvas> </br>
      </div>
      <div class="col-md-6"><canvas id="KPU"></canvas></div>
    </div>
  </div>
  </div>
  <table class="table table-bordered table-md" id="app">
    <tr style="background:#000;color:#fff;text-align:center;vertical-align:top">
      <th class="tg-wy7m" colspan="2">Nama Wilayah</th>
      <th class="tg-s9og" colspan="4">Kawal Pemilu Jaga Suara</th>
      <th class="tg-1sci" colspan="3">Komisi Pemilihan Umum</th>
    </tr>

    <tr style="background-color:#333333;color:#ffffff;text-align:center;vertical-align:top">
      <td class="tg-7f7m" colspan="2">Keterangan</td>
      <td class="tg-7f7m">Jokowi-Amin </td>
      <td class="tg-7f7m">Prabowo-Sandi</td>
      <td class="tg-7f7m">Total </td>
      <td class="tg-khjd">Cakupan TPS</td>
      <td class="tg-7f7m">Jokowi-Amin
        <td class="tg-7f7m">Prabowo-Sandi</td>
        <td class="tg-7f7m">Total</td>
    </tr>
    <tr style="text-align:center;vertical-align:top;background:#c0c0c0">
      <td class="tg-khjd" colspan="2">Total</td>

      <td class="tg-khjd">

        <%=numeral(kpjs1).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpjs1/(kpjs1+kpjs2)*100).toPrecision(4)%>%)</strong>
      </td>
      <td class="tg-khjd">
        <%=numeral(kpjs2).format(0,0)%>
          <br>
          <strong>(<%=parseFloat(kpjs2/(kpjs1+kpjs2)*100).toPrecision(4)%>%)</strong>
      </td>

      <td class="tg-khjd">
        <%=numeral(kpjs1+kpjs2).format(0,0)%>
      </td>
      <td class="tg-khjd">
        <strong><%=numeral(total_cakupan).format(0.0)%> </strong>dari
          <strong><%=numeral(data.KPU.progress.total).format(0.0)%></strong>
            <br>
            <strong><%= parseFloat((total_cakupan/data.KPU.progress.total)*100).toPrecision(4)%> % dari data KPU</strong>
      </td>
      <td class="tg-khjd">
        <%=numeral(data.KPU.chart[21]).format(0,0)%>
          <br>
          <strong>(
          <%=parseFloat(data.KPU.chart[21]/(data.KPU.chart[21]+data.KPU.chart[22])*100).toPrecision(4)%> %)</strong>
      </td>
      <td class="tg-khjd">
        <%=numeral(data.KPU.chart[22]).format(0,0)%>
          <br>
          <strong>(
          <%=parseFloat(data.KPU.chart[22]/(data.KPU.chart[21]+data.KPU.chart[22])*100).toPrecision(4)%> %)</strong>
      </td>
      <td class="tg-khjd">
        <%=numeral(parseInt(data.KPU.chart[21]+data.KPU.chart[22])).format(0,0)%>
          <br>
          <strong><%= parseFloat((data.KPU.progress.proses/parseInt(data.KPU.progress.total)*100)).toPrecision(4)%> % dari Total TPS</strong>
      </td>
    </tr>
    <%data.KP.children.forEach(function(KP){%>
      <tr>
        <%var suaraKPJS1=parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas1'])%>
          <%var suaraKPJS2=parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas2'])%>
            <%var totalSuaraKPJ=parseInt(suaraKPJS1+suaraKPJS2)%>
              <%var suaraKPU1=parseInt(data.KPU.table[parseInt(KP[0])]['21'])%>
                <%var suaraKPU2=parseInt(data.KPU.table[parseInt(KP[0])]['22'])%>
                  <%var totalSuaraKPU=parseInt(suaraKPU1+suaraKPU2)%>
                    <td class="tg-0lax" colspan="2">
                      <strong><%=KP[1]%> <strong>
                </td>
                <%if(suaraKPJS1>suaraKPJS2){%>
                  <td class="tg-0lax" style="background:#d4edda; font-weight:bold">
                    <%}else{%>
                      <td class="tg-0lax">
                        <%}%>
                          <%=numeral(suaraKPJS1).format(0,0)%>
                      </td>
                      <%if(suaraKPJS1<suaraKPJS2){%>
                        <td class="tg-0lax" style="background:#d4edda; font-weight:bold">
                          <%}else{%>
                            <td class="tg-0lax">
                              <%}%>
                                <%=numeral(suaraKPJS2).format(0,0)%>
                            </td>
                            <td class="tg-0lax">
                              <%=numeral(parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas1'])+parseInt(data.KP.data[parseInt(KP[0])]['sum']['pas2'])).format(0,0)%>

                            </td>
                            <td class="tg-0lax">
                              <strong><%=numeral(data.KP.data[parseInt(KP[0])]['sum']['cakupan']).format(0,0) %></strong> dari <strong><%=numeral(KP[2]).format(0.0)%></strong>
                              <div class="progress">
                                <%var progress =parseFloat((parseFloat(data.KP.data[parseInt(KP[0])]['sum']['cakupan'])/parseInt(KP[2]))*100).toPrecision(4)%>
                                <%var classing = progress>50?'bg-success':'bg-warning'%>
    <div class="progress-bar <%=classing%>" role="progressbar" style="width: <%=progress%>%"aria-valuenow="25" aria-valuemin="0" aria-valuemax="<%=parseInt(KP[2])%>"></div>
  </div><small><strong><%= progress %>% </strong> estimasi tps terproses</small>

                            </td>

                            <%if(suaraKPU1>suaraKPU2){%>
                              <td class="tg-0lax" style="background:#d4edda; font-weight:bold">
                                <%}else{%>
                                  <td class="tg-0lax">
                                    <%}%>
                              <%=numeral(data.KPU.table[parseInt(KP[0])]['21']).format(0,0)%>
                            </td>
                            <%if(suaraKPU1<suaraKPU2){%>
                              <td class="tg-0lax" style="background:#d4edda; font-weight:bold">
                                <%}else{%>
                                  <td class="tg-0lax">
                                    <%}%>
                              <%=numeral(data.KPU.table[parseInt(KP[0])]['22']).format(0,0)%>
                            </td>
                            <td class="tg-0lax">
                              <%=numeral(parseInt(data.KPU.table[parseInt(KP[0])]['21'])+parseInt(data.KPU.table[parseInt(KP[0])]['22'])).format(0,0)%>
                            </td>
      </tr>

      <%})%>
  </table>
  <h1>Catatan</h1>
</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138792337-1"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/javascripts/apps.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-138792337-1');
</script>
</html>
