<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title%> | Hasil Real Count Pilpres 2019
  </title>
  <meta property="description" content="#Bandingkan , antara kawal pemilu x komisi pemilihan umum, Mari gotong royong, Pantau pemilu - Jaga Suara 2019 " />

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta property="og:type" content="article" />
  <meta name="google-site-verification" content="WwyGS8jSbOz4_WDs-7FaBv4d8ES-1kuDTAJl2s61zUo">
  <meta property="og:title" content="  <%=title%> - Hasil Real Count Pilpres 2019" />
  <meta property="og:site_name" content="PEMILU AGREGATOR" />
  <meta property="og:image" content="http://pemilu.masmadmad.com/images/data.jpg" />
  <meta property="og:url" content="https://pemilu.masmadmad.com" />
  <meta name="description" content="Hasil Perhitungan suara pilpres 2019 di <%=title%>. Cek hasil perhitungan suara terkini dan terupdate di Masmadmad" />
  <meta property="og:description" content="#bandingkan , antara kawal pemilu ,kawalpilpres2019 dan komisi pemilihan umum, Mari gotong royong, Pantau pemilu - Jaga Suara 2019" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width">
  <meta name="googlebot" content="index,follow" />
  <meta name="author" content="@vanbungkring">
  <meta name="robots" content="index, follow" />
  <meta name="language" content="id" />
  <meta name="keywords" content="hasil real count 2019,<%=data.KP.parentNames%>, Jokowi-Amin, Prabowo-Sandi">
  <meta name="geo.country" content="id" />
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-138792337-1');
  </script>
</head>
<style media="screen">
  .progress {
    background-color: #ccc !important;
  }

  table {
    font-size: small;
    vertical-align: middle;
  }
</style>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">mas-madmad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Beranda <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpemilu.org">Kawal Pemilu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kpu.go.id">Komisi Pemilihan Umum</a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid" style="margin-top:40px">
    <h1>Hasil Tabulasi Realtime Jaga suara 2019 (Kawal Pemilu & KPU)</h1>
    <p>Situs ini mengagregasi Suara dari 2 sumber yaitu kawalpemilu.org dan situs resmi KPU
    </p>
    <div class="alert alert-danger">
      <p>Semua table informasi di bawah ini merupakan kurasi dari situs kawalpemilu dan Official Resmi Dari KPU, <strong>dan untuk Data pada halaman ini masih belum final dan akan terus diperbarui secara berkala!</strong>
      </p>
      <h5>Latest Update: <%=data.KPU.ts%></h5>
    </div>
    <div class="container-fluid">

    </div>
  </div>
  <%if(data.KP.parentIds.length){%>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% for(var i=0;i<data.KP.parentIds.length;i++){%>
          <%if(i==0){%>
            <li class="breadcrumb-item"><a href="/">NASIONAL</a></li>
            <%}else{%>
              <%if(hotlink[[data.KP.parentIds[i]]]!= undefined){%>
                <li class="breadcrumb-item">
                  <a href="/provinsi/<%=hotlink[data.KP.parentIds[i]]['name']%>">
                    <%=data.KP.parentNames[i]%>
                  </a>
                </li>
                <%} else{%>
                  <li class="breadcrumb-item">
                    <a href="/?child=[<%=next.slice(0, -1)%>]">
                      <%=data.KP.parentNames[i]%>
                    </a>
                  </li>
                  <%}%>

                    <%}%>
                      <%}%>
                        <li class="breadcrumb-item">
                          <%=data.KP.name%>
                        </li>
      </ol>
    </nav>
    <%}%>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Data KAWALPEMILU
            </div>
            <div class="card-body">
              <%if(data.KP.data[tps_kp]){%>
                <h5 class="card-title">DATA PEROLEHAN SUARA</h5>
                <table class="table table-hover table-bordered table-stripped table-condensed">
                  <tr class="bg-dark">
                    <th colspan="2" class="text-light">
                      URAIAN
                    </th>
                    <th class="text-light">SUARA SAH </th>
                  </tr>
                  <tr>
                    <td width="30">1</td>
                    <td>(01) Ir. H. JOKO WIDODO - Prof. Dr. (H.C) KH. MA'RUF AMIN</td>
                    <td width="150" class="number">
                      <%=data.KP.data[tps_kp]?data.KP.data[tps_kp]['sum']['pas1']:0%>
                    </td>
                  </tr>
                  <tr>
                    <td width="30">2</td>
                    <td>(02) H. PRABOWO SUBIANTO - H. SANDIAGA SALAHUDIN UNO</td>
                    <td width="150" class="number">
                        <%=data.KP.data[tps_kp]?data.KP.data[tps_kp]['sum']['pas2']:0%>
                    </td>
                  </tr>
                </table>
                <h5 class="card-title">GAMBAR C1 Plano</h5>
                <%var images_tps_kp =data.KP.data[tps_kp]['photos']?Object.keys(data.KP.data[tps_kp]['photos']):[]%>
                  <%for(var i=0;i<images_tps_kp.length;i++){%>
                    <div class="thumbnail"> <a href="<%=images_tps_kp[0]%>" target="_blank">
                    <img src="<%=images_tps_kp[0]%>" class="rounded rounded float-left" alt="..." width="220px;" style="margin-right:10px;">
                    </a>
                    </div>
                    <%}%>
                    <%} else{%>
                      <div class="alert alert-danger" role="alert">
          Belum ada data dari Kawal Pemilu
        </div>
                        <%}%>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Data KPU
            </div>
            <div class="card-body">
              <%if(data.KPU && data.KPU.chart){%>
              <h5 class="card-title">DATA PEMILIH DAN PENGGUNAAN HAK PILIH</h5>
              <table class="table table-hover table-bordered table-stripped table-condensed">
                <tr class="bg-dark">
                  <th class="text-light">URAIAN</th>
                  <th class="text-light">JUMLAH (L+P)</th>
                </tr>
                <tr>
                  <td>PEMILIH TERDAFTAR (DPT)</td>
                  <td width="150" class="number">
                    <%=data.KPU.pemilih_j%>
                  </td>
                </tr>
                <tr>
                  <td>PENGGUNA HAK PILIH</td>
                  <td class="number">
                    <%=data.KPU.pengguna_j%>
                  </td>
                </tr>
              </table>
              <h5 class="card-title">DATA PEROLEHAN SUARA</h5>
              <table class="table table-hover table-bordered table-stripped table-condensed">
                <tr class="bg-dark">
                  <th colspan="2" class="text-light">
                    URAIAN
                  </th>
                  <th class="text-light">SUARA SAH </th>
                </tr>
                <tr>
                  <td width="30">1</td>
                  <td>(01) Ir. H. JOKO WIDODO - Prof. Dr. (H.C) KH. MA'RUF AMIN</td>
                  <td width="150" class="number">
                    <%=data.KPU.chart?data.KPU.chart['21']:0%>
                  </td>
                </tr>
                <tr>
                  <td width="30">2</td>
                  <td>(02) H. PRABOWO SUBIANTO - H. SANDIAGA SALAHUDIN UNO</td>
                  <td width="150" class="number">
                    <%=data.KPU.chart?data.KPU.chart['22']:0%>
                  </td>
                </tr>
              </table>
              <h5 class="card-title">JUMLAH SUARA SAH DAN TIDAK SAH</h5>
              <table class="table table-hover table-bordered table-stripped table-condensed">
                <tr class="bg-dark">
                  <th colspan="2" class="text-light">URAIAN</th>
                  <th class="text-light">JUMLAH</th>
                </tr>
                <tr>
                  <td width="30">A</td>
                  <td>JUMLAH SELURUH SUARA SAH</td>
                  <td width="150" class="number">
                    <%=data.KPU.suara_sah%>
                  </td>
                </tr>
                <tr>
                  <td>B</td>
                  <td>JUMLAH SUARA TIDAK SAH</td>
                  <td class="number">
                    <%=data.KPU.suara_tidak_sah%>
                  </td>
                </tr>
                <tr>
                  <td>C</td>
                  <td>JUMLAH SELURUH SUARA SAH DAN SUARA TIDAK SAH</td>
                  <td class="number">
                    <%=data.KPU.suara_total%>
                  </td>
                </tr>
              </table>
              <h5 class="card-title">GAMBAR C1 Plano</h5>
              <a href="<%=tps_hash+'/'+data.KPU.images[0]%>"><img src="<%=tps_hash+'/'+data.KPU.images[0]%>" class="rounded rounded float-left" alt="..." width="220px;" style="margin-right:10px;"></a>
                <a href="<%=tps_hash+'/'+data.KPU.images[1]%>"><img src="<%=tps_hash+'/'+data.KPU.images[1]%>" class="rounded rounded float-left" alt="..." width="220px;" style="margin-right:10px;"></a>
            <%} else{%>
              <div class="alert alert-danger" role="alert">
                Belum ada data dari Komisi Pemilihan Umum
              </div>
              <%}%>
            </div>
          </div>
        </div>

      </div>

      <h1>Catatan</h1>
      <ul>
        <li>Data diatas bersifat sementara selama masa perhitungan suara pemilu</li>
        <li>
          <p>
            <span class="th">#TPS terproses</span> berisi
            <strong>ESTIMASI</strong> jumlah TPS yang sudah memiliki foto dan sudah diproses datanya. Kami hanya dapat menampilkan angka estimasi karena satu TPS yang sama memiliki beberapa foto dimana sebagian sudah diproses dan sebagian lain belum diproses.
          </p>
          <p>
            Kawal Pemilu menerima lebih dari satu foto per TPS selain untuk mendapatkan bukti foto pendukung, juga karena Kawal Pemilu menerima dan memproses foto terkait pemilu DPR, DPD, DPRD Provinsi, dan DPRD Kabupaten/Kota.
          </p>
        </li>
      </ul>

</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138792337-1"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/javascripts/apps.js"></script>


</html>
